@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-surface text-brand-charcoal;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  background: #D4D4D8;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A1A1AA;
}
